.food-display {
    margin-top: 30px;
    background-color: #1f1f21; /* zinc-850 style */
    padding: 20px;
    border-radius: 8px;
}

.food-display h2 {
    font-size: max(2vw, 24px);
    font-weight: 600;
    color: #d4d4d8; /* soft grey */
}

.food-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}

/* Star ratings anywhere inside food cards */
.stars {
    color: orange; /* highlight color */
    font-size: 16px;
}
